* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER INSIDE HERO */
header {
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 3;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 242, 222);
    font-family: "Georgia", serif;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: 0.3s ease;
    font-weight: bold;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

nav ul li a:hover {
    color: white;
}


.hero {
    position: relative;
    height: 100vh;
    width: 100%;

    background-image: url("../images/protfolio_background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Optional dark overlay for better text visibility */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* adjust darkness here */
    top: 0;
    left: 0;
}
.content {
    position: absolute;
    top: 6%;
    left: 5%;
    z-index: 2;

    color: rgb(236, 223, 203);
    text-align: left;
}

.content h1 {
    font-size: 14rem;
    font-weight: 600;
    line-height: 1;
    position: relative;
    left:7%;
    letter-spacing: 2px;
    font-family: "Brush Script MT", cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content h2 {
    font-size: 5rem;
    font-weight: 300;
    margin-top: 1rem;
    text-align: left;
    position: absolute;
    left: 30%;
    font-family: "Brush Script MT", cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.content h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0.5rem;
    position: absolute;
    left: 20%;
    top: 130%;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: "Copperplate Gothic Light", fantasy;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(255, 242, 222);
}

.content p {
    font-size: 1.3rem;
    margin-top: 0.5rem;
     position: relative;
    left: 12%;
    top: 160px;
        font-family: "Copperplate Gothic Light", fantasy;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        color: rgb(255, 242, 219);
       
}
